.signup_page{
    background-color: #E8E8E8;

& title{
    height: 63.965484619140625px;
    width: 264.85919189453125px;
    font: Abel;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgba(1, 20, 154, 1);
    
}

.signup_rectangle{
    height: 18.765182495117188px;
    width: 124.42487335205078px;
    background-color: #FFA500CC;

    
}

.signup_cover{
width: 716.011474609375px;
border-radius: 5px;
background-color: #FFFFFF;
}
}