.signup_page{
    background-color: #E8E8E8;

&_title{
    
//    height: 63.965484619140625px;
//    width: 264.85919189453125px;

}

.signup_rectangle{
    background-color: #FFA500CC;
    // height: 18.765182495117188px;
    // width: 124.42487335205078px;

}

.signup_cover{
width: 700px;
border-radius: 5px;
background-color: #FFFFFF;
height: 800px;

}
}