.generalBtn {
    padding: 12px 40px;
    color: #000000;
    background-color: #ffa300;
    border: none;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        opacity: .9;
    }
}

.cssfx-messaging-balls {
    justify-content: center;
}