.generalBtn {
    padding: 12px 40px;
    color: #000000;
    background-color: #ffa300;
    border: none;
    cursor: pointer;
    margin-top: 10px;

    &:hover{
       opacity: .9;
    }
}

.btn_style {
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    background-color: #FFA300;
}