   .dropdown {
     position: relative;
     font-family: Abel;

     .dropdown_header {
       display: flex;
       align-items: center;
       align-items: center;
       cursor: pointer;
       width: auto;


       .user_image {
         height: 40px;
         width: 39.68006134033203px;
         border-radius: 50%;
         margin-right: 7px;
       }

       .dropdown_username {
         font-size: 21px;
         font-style: normal;
         font-weight: 400;
         letter-spacing: 1px;
         margin-right: 7px;
       }


     }

     .dropdown_menu {
       height: 146px;
       width: 169px;
       right: -5px;
       top: 46px;
       position: absolute;
       background: rgba(255, 255, 255, 1);
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       z-index: 1;

       .dropdown_item {
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         line-height: 31px;
         letter-spacing: 1px;
         text-align: center;
         color: rgba(204, 204, 204, 1);
         cursor: pointer;


       }

       .dropdown_item:hover {
         color: black
       }

       .divider {
         height: 0px;
         width: 100%;
         border: 1px solid rgba(222, 222, 222, 1);
         justify-content: center;
       }
     }
   }