.eventdetail {
  width: 100vw;
  height: 100vh;
  background: #e8e8e8;
  display: flex;
  justify-content: center;
}

.eventtitles {
  width: 1371px;
  height: 174px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 30px;
  padding: 30px 40px 10px 30px;
}

.topics {
  h1 {
    font-family: "DIN Pro";
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #000000;
    margin-top: -8px;
  }

  p {
    font-family: "Abel";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #797979;
    margin-top: -7px;
  }

  .btnrsvp {
	width: 146.89px;
	height: 40.99px;
	background: #ffa500;
	border-radius: 5px;
	font-family: "DIN Pro";
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
	border: none;
	margin-top: 7px;
  }
}

.location h6 {
  font-family: "Abel";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
}

.location .street {
  font-family: "Abel";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 8px;
  color: #797979;
}

.location .state {
  font-family: "Abel";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 10px;
  color: #797979;
}

.datetime h6 {
  font-family: "Abel";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
}

.datetime .date {
  font-family: "Abel";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 8px;
  color: #797979;
}
.datetime .time {
  font-family: "Abel";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 10px;
  color: #797979;
}
