
.form_title{

&_update{
    font: Abel;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    line-height: 30.20px;
    letter-spacing: 1px;
    color: rgba(1, 20, 154, 1);
    width: 430px;
    height: 39px;
    margin-top: 120px;
    margin-left: 120px;
  }
}

.update_rectangle{
    height: 30px;
    width: 220px;
    margin-top: 2px;
    margin-left: 120px;
    background-color: rgba(1, 20, 154, 1);  
}


