.event-card {
  background: url('./../../images/group.jpg');
  height: 212px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15px;

  .date {
    font-family: Abel;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #BDBDBD;
    margin-top: 2px;

  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
      margin-right: 5px;
      font-family: Abel;
      font-size: 14px;
      line-height: 15px;
      text-align: center;
      color: #ffffff;
      margin-top: 10px;
    }
  }
}